.logo {
  padding: 15px;
  color: #fff;
  text-align: center;
}

.app-page {
  height: 100vh;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  background-image: -webkit-linear-gradient(60deg,#a59494,#feab3a);
  animation: hue 20s infinite linear;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}